.header h1,
h2,
h3,
h4,
h5 {
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

.header {
   transform: translateY(-50%);
   animation: ani 1s forwards;
   opacity: 0;
}

@keyframes ani {
   0% {
      transform: translateY(-50%);
   }

   100% {
      transform: translateY(0);
   }

   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

p {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   color: #737373;
   margin-top: inherit !important;
}

a {
   color: #23A6F0;
   font-weight: 600;
   text-decoration: none !important;
}

.row{
   opacity: 0;
   transform: translateY(20px);
}

.row.row-show {
   opacity: 1;
   transition: all 1.5s;
   transform: translateY(0%);
}


.container {
   max-width: 1200px !important;
}

.nav-link,
.navbar-brand {
   color: #fff !important;
}

.header {
   background-image: url(../img/hero-6-cover.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
}

.main {
   padding-top: 150px;
}

.join_inner {
   margin-top: 140px;
}

.bg-overlay {
   background: rgba(0, 0, 0, 0.5);
   min-height: 100vh;
}


.navbar-brand {
   padding-right: 80px;
}

.navbar-nav {
   gap: 20px;

}

.nav-inner {
   display: flex;
   gap: 375px;
}

.btn-nav {
   margin-left: 25px;
}

.btn {
   gap: 15px !important;
}

.arrow-img {
   margin: 0 3px 2px;
}


.navbar-collapse li {
   list-style-type: none;
}

.nav-right {
   margin-left: 250px;
}


.row-cards {
   bs-gutter-x: 0 !important;
}


.card {
   max-width: 370px !important;
   border-radius: 0 !important;
   border: 0 !important;
   box-shadow: -2px 2px 20px 0px rgba(66, 66, 66, 0.15);
}



.card-icon {
   background-color: #23A6F0;
   padding: 20px;
}

.card-text::before {
   content: "";
   position: absolute;
   border: solid #e74040 1px;
   width: 50px;
   top: 155px;
   border-radius: 4px;
}

.blue-card-icon {
   background-color: #fff !important;
}

.card-blue {
   background-color: #23A6F0 !important;
}

.card-text-blue::before {
   content: "";
   position: absolute;
   border: solid #fff 1px;
   width: 50px;
   top: 155px;
   border-radius: 4px;
}

.cards {
   position: relative;
   bottom: 200px;
   max-height: 90px;
}

.feature-title::before {
   display: block;
   content: "";
   position: relative;
   border: solid #e74040 4px;
   width: 100px;
   bottom: 50px;
}

.products-div {
   position: relative;
   right: -175px;
   max-width: 400px;
}

.img-course {
   background-image: url(../img/product-cover-1.jpg);
   background-size: cover;
   height: 350px;
}

.img-course2 {
   background-image: url(../img/product-cover-2.jpg);
   background-size: cover;
   height: 350px;
}

.img-course3 {
   background-image: url(../img/product-cover-3.jpg);
   background-size: cover;
   height: 350px;
}

.fa-heart,
.fa-cart-shopping,
.fa-eye {
   background-color: #fff;
   padding: 10px;
   border-radius: 50%;
}

.product-actions {
   margin: 230px auto;
   display: flex;
   justify-content: center;
   gap: 10px;
   scale: 1.2;
   cursor: pointer;
   max-width: 200px;
}

.txt-course-title {
   display: flex;
   justify-content: space-between
}

.sales,
.prices {
   display: flex;
   gap: 10px;
}

.btn-learn,
.arrow-btn {
   transition: .3s ease !important;
}

.btn-learn:hover {
   background-color: #23A6F0 !important;
   color: #fff !important;

   .arrow-btn {
      filter: brightness(8.5);
   }
}

.advice-text {
   padding-top: 360px;
}

.client {
   padding-bottom: 350px;
}

.email {
   padding: 15px 0 15px 20px;
   border-radius: 5px;
   border: 1px solid #E6E6E6;
}

.footer-content{
   display: inline-grid;
   gap: 10px
}

.footer-link{
   color: #737373;
}

.footer-img{
   display: flex;
   gap: 20px;
}

@media (max-width:1200px) {
   .nav-right {
      margin-left: 150px;
   }

   .btn-nav {
      margin-left: 0;
   }

   .products {
      margin: 0 auto;
   }

   .products-div {
      right: 0 !important;
   }

}

@media (max-width:990px) {
   .nav-right {
      margin-left: 0px;
   }

   .nav-inner {
      padding-bottom: 20px;
   }

}

@media (max-width:775px) {
   .card {
      padding-bottom: 20px;
      margin-bottom: 30px;
      margin: 0 auto !important;
   }

   .products {
      margin-top: 450px;
   }

   .subs-btn {
      width: 250px !important;
      margin-top: 30px;
      padding: 20px 50px 20px 50px !important;
      text-align: center;
   }

   .row-courses{
      opacity: 1 !important;
   }

   .button-header{
      padding-left: 0 !important;
   }

   .row-footer{
      text-align: center;
   }

   .footer-img{
      justify-content: center;
   }

   .footer-info{
      padding-top: 50px;
   }

   .middle-course{
      padding-bottom: 30px;
   }

   .footer-1, .footer-3{
      padding: 30px;
   }
}



@media (max-width:420px) {
   .header-title {
      font-size: 32px !important;
   }

   .join_inner {
      margin-top: 60px;
   }

}